<div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="btn-group" role="group">
				<a href="/robot/create" class="btn btn-default">Add robot</a>
				<div class="col-lg-6 has-error">
					<span class="help-block" ng-show="(errorMessage!='')">{{errorMessage}}</span>
				</div>
			</div>

			<!-- Display pets in a table -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Robot name</th>
						<th>Price</th>
						<th style="width: 90px"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="robot in robots | orderBy: '-id'">
						<td>{{robot.id}}</td>
						<td><a href="/robot/{{robot.id}}">{{robot.name}}</a></td>
						<td>{{robot.price}}</td>
						<td><input type="button" class="btn btn-danger" ng-click="deleteRobot(robot.id)" value="Remove" /></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
