<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<base href="/" />
<title>RBC Robots</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="./css/style.css" />

</head>
<body ng-app="rbcRobotApp">
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">RBC Robots</a>
					<a class="navbar-text" href="/robot">Robot list</a>
				</div>
				<a ng-if="!$rootScope.currentUser" class="navbar-text navbar-right" style="margin-right: 10px;" href="/login">Log in</a>
				<p ng-if="!$rootScope.currentUser" class="navbar-text navbar-right" style="margin-right: 10px;">Not signed in</p>
				
				<a ng-if="$rootScope.currentUser" class="navbar-text navbar-right" style="margin-right: 10px;" href="/logout">Log out</a>
				<p ng-if="$rootScope.currentUser" class="navbar-text navbar-right" style="margin-right: 10px;">Signed in as {{$rootScope.currentUser.firstName}} {{$rootScope.currentUser.lastName}}</p>
			</div>
		</nav>
	</header>

	<div ng-view=""></div>

	<footer class="footer">
		<div class="container">
			<p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}" class="text-muted">Page was rendered today.</p>
		</div>
	</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/static/js/robot-app.js" th:src="@{/js/robot-app.js}"></script>
	<script type="text/javascript" src="/static/js/filters/robot-filter.js" th:src="@{/js/filters/robot-filter.js}"></script>
	<script type="text/javascript" src="/static/js/services/login-factory.js" th:src="@{/js/services/login-factory.js}"></script>
	<script type="text/javascript" src="/static/js/services/robot-factory.js" th:src="@{/js/services/robot-factory.js}"></script>
	<script type="text/javascript" src="/static/js/controllers/login-controller.js" th:src="@{/js/controllers/login-controller.js}"></script>
	<script type="text/javascript" src="/static/js/controllers/robot-controller.js" th:src="@{/js/controllers/robot-controller.js}"></script>
</body>
</html>
